
body {
    background-image: url('imagens/wallpaper001.jpg');
}

div.quadrado {
    display: inline-block;
    border-radius: 10px;
    border: 2px solid #000;
    width: 441px;
    height: 441px;
    background-color: lightgray;
}

div#q1 {
    background-color: lightblue;
}

div#q2 {
    background-image: linear-gradient(180deg, #4433ff, #ff9900);
}

div#q3 {
    background-image: url('imagens/wallpaper002.jpg')
}
