@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #F7DA4D, #f36d1fc0);
    height: 100%;
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px maroon;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #e4c218;
    text-align: center;
    text-shadow: 1px 1px 1px #7a680dcb;
}

h2 {
    color: #524DF7;
    text-shadow: 1px 1px 1px #29267c;
}

p {
    text-align: justify;
}
